parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

extensions:
	auth0: \Somemove\Auth0NetteExtesion\DI\Auth0NetteExtesion

auth0:
	domain: %AUTH0_DOMAIN%
	clientId: %AUTH0_CLIENT_ID%
	clientSecret: %AUTH0_CLIENT_SECRET%
	redirectUri: 'http://localhost/callback'
	persistUser: false
	store: false

services:
	router: App\RouterFactory::createRouter
